@media (max-width: 1024px) {
  .sec1 .container {
    width: 100%;
  }

  main {
    margin-top: 55rem;
  }

  .container .image img {
    padding-top: 2rem;
    width: 500px !important;
    height: 600x !important;
    border-radius: 2rem;
  }
  .shape {
    display: none;
  }
  .nav {
    display: flex;
    flex-direction: row !important;
    right: 0 !important;
    position: fixed;
    top: 0 !important;
    z-index: 10 !important;
    background-color: var(--color-primary);
    width: 100%;
    height: 70px;
    padding-top: 2rem;
  }

  .container-content .about-text {
    padding: 1rem !important;
  }

  .about-text .btn {
    margin-bottom: 3rem;
  }

  .info-box .container {
    grid-template-columns: 1fr;
  }

  .sec1 p.socials a {
    padding: 1rem !important;
  }

  .nav img {
    margin-right: 2rem;
    align-self: center;
    justify-self: center;
    height: 50px;
    padding-right: 0;
  }

  .nav .nav-items {
    padding: 1rem;
  }
  .sec2 .container-content {
    grid-template-columns: 1fr;
  }

  .sec3 .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .sec2 .my-skills {
    padding: 0;
  }

  .container .image {
    z-index: 1;
    text-align: center;
    border-radius: 50%;
    padding-bottom: 3rem;
    outline: 3px solid orange;
  }
}

@media (max-width: 622px) {
  .sec2 .my-skills div {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
  .container .image img {
    width: 500px;
    height: 600px;
    border-radius: 2rem;
  }

  .sec2 .my-skills {
    padding: 0;
  }

  .sec2 .my-timeline-data {
    grid-template-columns: 1fr;
  }

  .sec3 .portfolio-container {
    grid-template-columns: 1fr;
  }

  form .form-container {
    grid-template-columns: 1fr;
  }

  .nav {
    display: flex;
    flex-direction: row !important;
    right: 0 !important;
    position: fixed;
    top: 0 !important;
    z-index: 10 !important;
    background-color: var(--color-primary);
    width: 100%;
    /* margin-left: 10rem !important; */
    height: 70px;
    overflow-x: hidden;
  }

  .container-content .about-text {
    padding: 1rem !important;
  }

  #portfolio p {
    font-size: 0.8rem;
  }

  .sec4 .info-container .contact-info {
    display: inline-block !important;
  }

  .sec4 form .message-input input {
    font-size: 0.6rem !important;
  }

  main {
    margin-top: 58rem;
  }
  .social-acount {
    display: block;
  }
  .sec1 p.socials {
    margin-top: 0;
  }
}

@media (max-width: 478px) {
  .container .image {
    z-index: 1;
    text-align: center;
    background: none !important;
    border-radius: 50%;
    padding-bottom: 0 !important;
    outline: none !important;
  }

  .paragraph {
    width: 80% !important;
  }

  .sec2 .my-skills div {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
 .nav .nav-items {
    font-size: 0.8rem !important;
    padding: 0.3rem;
  }

  .nav img {
    /* font-size: .8rem !important; */
    padding: 1rem !important;
  }

  .sec3 p {
    font-size: 0.7rem !important;
  }

  .sec2 .my-skills {
    padding: 0;
  }

  .about-text .btn {
    display: flex !important;
    flex-direction: column;
    gap: 1rem;
  }

  .container .image {
    z-index: 1;
    text-align: center;
    background: none !important;
    border-radius: 50%;
    padding-bottom: 0 !important;
    outline: none !important;
  }

  .paragraph {
    width: 60% !important;
  }

  .sec2 .my-skills div {
    grid-template-columns: 1fr;
  }

  .paragraph {
    width: 60% !important;
    font-size: 0.8rem;
  }

  .container .text-box .first-paragraph {
    font-size: 1.9rem !important;
  }

  .container-content .about-text {
    width: 90%;
    padding: 2rem;
  }

  .about-text img {
    width: 200px !important;
  }

  .line {
    margin-top: 0 !important;
  }

  .nav img {
    margin-left: 0 !important;
    margin-right: 0.2rem !important;
    flex-shrink: 0 !important;
  }

  .nav .nav-items {
    padding-left: 0 !important;
  }

  .image img {
    display: none;
  }

  .text-box {
    width: 100% !important;
    margin-bottom: 1rem !important;
  }

  .text-box .paragraph {
    width: 100% !important;
  }

  .text-box a {
    display: flex;
    flex-direction: column;
    padding: 1rem !important;
    width: 100%;
  }
  .text-box a.download {
    display: inline-block !important;
    margin-top: 1rem;
    font-size: 1rem !important;
    /* padding: 0 !important; */
  }

  .socials {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 0 !important;
  }

  .sec2 .my-skills {
    padding: 0 !important;
  }

  main {
    margin-top: 25rem;
  }

  .sec2 .container-content {
    margin-bottom: 2rem !important;
  }

  .container-content .about-text {
    width: 100% !important;
  }
}
/* 
@media (max-width: 370px) {
  
}

@media (max-width: 288px) {
  
} */
